<!--
  ~ Copyright (C) 2014 Vlad Mihalachi
  ~
  ~ This file is part of Turbo Editor.
  ~
  ~ Turbo Editor is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Turbo Editor is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maskyn.fileeditorpro"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/nome_app_turbo_editor"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name="shared.turboeditor.application.MyApp"
        >

        <!-- android:alwaysRetainTaskState="true" -->

        <activity
            android:name=".HomeActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateUnspecified|adjustResize"
            android:theme="@style/AppThemeEditorDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.css" />
                <data android:pathPattern=".*\\.js" />
                <data android:pathPattern=".*\\.md"/>
                <data android:pathPattern=".*\\.markdown"/>
                <data android:pathPattern=".*\\.php" />
                <data android:pathPattern=".*\\.py" />
                <data android:pathPattern=".*\\.script" />
                <data android:pathPattern=".*\\.cs" />
                <data android:pathPattern=".*\\.java" />
                <data android:pathPattern=".*\\.rb" />
                <data android:pathPattern=".*\\.aspx" />
                <data android:pathPattern=".*\\.cshtml" />
                <data android:pathPattern=".*\\.vbhtml" />
                <data android:pathPattern=".*\\.go" />
                <data android:pathPattern=".*\\.c" />
                <data android:pathPattern=".*\\.h" />
                <data android:pathPattern=".*\\.cc" />
                <data android:pathPattern=".*\\.cpp" />
                <data android:pathPattern=".*\\.hh" />
                <data android:pathPattern=".*\\.hpp" />
                <data android:pathPattern=".*\\.pl" />
                <data android:pathPattern=".*\\.pm" />
                <data android:pathPattern=".*\\.t" />
                <data android:pathPattern=".*\\.pod" />
                <data android:pathPattern=".*\\.m" />
                <data android:pathPattern=".*\\.f" />
                <data android:pathPattern=".*\\.for" />
                <data android:pathPattern=".*\\.f90" />
                <data android:pathPattern=".*\\.f95" />
                <data android:pathPattern=".*\\.asp" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.wiki" />
                <data android:pathPattern=".*\\.lua" />
                <data android:pathPattern=".*\\.r" />
                <data android:pathPattern=".*\\.key" />
                <data android:pathPattern=".*\\.log" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="shared.turboeditor.explorer.SelectFileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/open_a_file"
            android:exported="true"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppThemeBaseLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <activity android:name="shared.turboeditor.markdown.MarkdownActivity" />

    </application>

</manifest>
